[Unit]
Description=WSO2 Stream Processor - Worker
After=network.target

[Service]
ExecStart={{ carbon_home }}/bin/worker.sh start
ExecStop={{ carbon_home }}/bin/worker.sh stop
ExecRestart={{ carbon_home }}/bin/worker.sh restart
PIDFile={{ carbon_home }}/wso2/worker/runtime.pid
User={{ wso2_user }}
Group={{ wso2_group }}
Type=forking
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
